footer{
    background-color: $mainColor;
    position: relative;

    .footerBG{
        img{
            width: 100%;
        }
    }

    .footerContent{
        padding-inline: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .footerTop{
            padding-top: 5rem;
            padding-bottom: 8rem;
            border-bottom: 1px solid white;
            
            .allSections{
                display: flex;
                justify-content: space-between;
                color: white;
        
                .eachSection{
                    .footerLogo{
                        width: fit-content;
                        margin: auto;
                        margin-bottom: 2rem;

                        img{
                            width: 15rem;
                        }
                    }
        
                    .footerMap{
                        img{
                            width: 20rem;
                        }
                    }

                    h3{
                        font-weight: 500;
                        font-size: 20px;
                        margin-bottom: 2rem;
                    }

                    .footerCall, .footerLocation, .footerMail{
                        display: flex;
                        margin-bottom: 1rem;

                        span{
                            transform: scaleX(-1);
                            margin-left: 1rem;
                        }
                    }

                    .footerCall{
                        p{
                            font-family: "Poppins", sans-serif;
                        }
                    }

                    .footerMail{
                        a{
                            text-decoration: underline;
                            color: white;
                        }
                    }

                    ul{
                        li{
                            margin-bottom: 1rem;
                            cursor: pointer;
                        }
                    }

                    .footerEmail{
                        position: relative;

                        input{
                            width: 18rem;
                            height: 3rem;
                            padding-inline: 1rem;
                            border-radius: 0.5rem;
                            border: none;
                            outline: none;
                        }
    
                        button{
                            position: absolute;
                            left: 1rem;
                            top: 0.6rem;
                            padding: 0.4rem 1rem;
                            border: none;
                            border-radius: 0.5rem;
                            background-color: $mainColor;
                            color: white;
                            transition: 0.3s;
                            cursor: pointer;
                            
                            &:hover{
                                background-color: $secondColor;
                            }
                        }
                    }
                }
            }
        } 
        
        .footerBottom{
            padding-block: 2rem;
            display: flex;
            justify-content: space-between;
            color: white;
            
            .copyrights{
                display: flex;
                gap: 0.4rem;

                span{
                    transform: scaleX(-1);
                }
            }

            .footerSMIcons{
                ul{
                    display: flex;
                    gap: 1rem;
                    font-size: 22px;

                    li{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}












// responsive


// tablet

@media (max-width: 991px){
    footer{
        .footerBG{
            overflow: hidden;

            img{
                width: fit-content;
                height: 30rem;
            }
        }
    
        .footerContent{
            .footerTop{
                padding-top: 2rem;
                padding-bottom: 3rem;
                
                .allSections{
                    justify-content: unset;
                    row-gap: 3rem;
                    column-gap: 5rem;
                    flex-wrap: wrap;
            
                    .eachSection{
                        .footerLogo{
                            margin-bottom: 1rem;
    
                            img{
                                width: 12rem;
                            }
                        }
            
                        .footerMap{
                            img{
                                width: 15rem;
                            }
                        }
    
                        h3{
                            font-size: 18px;
                        }
    
                        .footerCall, .footerLocation, .footerMail{
                            span{
                                margin-left: 0.5rem;
                            }
                        }
    
                        .footerEmail{
                            input{
                                width: 15rem;
                            }
                        }
                    }
                }
            } 
            
            .footerBottom{
                padding-block: 0;
                padding-top: 1.5rem;
                
                .footerSMIcons{
                    ul{
                        font-size: 20px;
                    }
                }
            }
        }
    }    
}










// mobile

@media (max-width: 480px){
    footer{
        .footerBG{
            img{
                width: fit-content;
                height: 57rem;
            }
        }
    
        .footerContent{
            padding-inline: 2rem;
    
            .footerTop{
                padding-top: 2rem;
                padding-bottom: 5rem;
                
                .allSections{
                    flex-direction: column;
                    justify-content: space-between;
            
                    .eachSection{
                        width: fit-content;

                        .footerLogo{
                            width: fit-content;
                            margin: auto;
                            margin-bottom: 2rem;
    
                            img{
                                width: 10rem;
                            }
                        }
            
                        .footerMap{
                            img{
                                width: 15rem;
                            }
                        }
    
                        h3{
                            font-size: 16px;
                        }
    
                        .footerCall, .footerLocation, .footerMail{
                            display: flex;
                            margin-bottom: 1rem;
    
                            p{
                                font-size: 14px;
                            }
                        }
    
                        ul{
                            li{
                                font-size: 14px;
                            }
                        }
    
                        .footerEmail{
                            position: relative;
    
                            input{
                                width: 15rem;
                            }
                        }
                    }
                }
            } 
            
            .footerBottom{
                padding-top: 1rem;
                flex-direction: column;
                justify-content: unset;
                row-gap: 1rem;
                
                .copyrights{
                    display: flex;
                    gap: 0.4rem;

                    p{
                        font-size: 14px;
                    }
    
                    span{
                        font-size: 14px;
                    }
                }
    
                .footerSMIcons{
                    ul{
                        display: flex;
                        gap: 1rem;
                        font-size: 20px;
                    }
                }
            }
        }
    }    
}